/*
@font-face {
    font-family: 'LatoBold';
    src: url(../res/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'LatoLight';
    src: url(../res/fonts/Lato-Light.ttf);
}
*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    font-family: Lato, sans-serif;
    scroll-behavior: smooth;
}

body {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 50px 1fr 100px;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed;
    grid-column: 1/4;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    background-color: rgba(255,255,255,0.4);
}

nav {
    align-self: center;
    flex-direction: row;
    width: 100%;
}

nav ul {
    position: relative;
    float: right;
    right: 7%;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    margin-right: 35px;
    color: white;
    font-size: 2vw;
}

li:last-child a {
    margin-right: 0;
}

.logo {
    display: block;
    height: 80px;
    position: relative;
    left: 150px;
    margin: 10px 0;
}

main {
    position: relative;
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100%;
    display: grid;
}

#expand_arrow {
    position: sticky;
    margin: auto;
    align-self: center;
    bottom: 0px;
    font-size: 100px;
    color: rgba(255,255,255,0.5);
    cursor: pointer;
}

#video_cont {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(75%);
}

#on_vid_text {
    color: white;
    font-size: 30pt;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LatoLight';
}

#on_vid_text bold {
    font-size: 80pt;
    font-weight: bolder;
}

#on_vid_text i {
    font-size: 80pt;
    font-weight: bolder;
}

#gys_header {
    position: relative;
    font-size: 5vw;
    color: #004155;
    font-weight: 800;
    text-align: center;
}

bold {
    color: #EDE937;
}

#vide-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    z-index: -1;
    top:0;
}

#volunteer-header {
    width: 100vw;
    height: 90vh;
    object-fit: cover;
}

#waw {
    font-weight: 600;
    margin-bottom: 1.5vw;
}

#waw p {
    margin: 0 19vw;
    margin-bottom: 1vw;
}

#waw p:last-child {
    margin-bottom: 3vw;
}

#waw_header {
    color: #004155;
    margin-left: 20vw;
    font-size: 3vw;
    font-weight: 800;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.lightBlueBg {
    background-color: #B7CAD4;
    padding: 5vw 10vw;
}

.lightBlueBg p {
    margin-bottom: 2vw;
    font-weight: 600;
}

.lightBlueBg p:last-child {
    margin-bottom: 0;
}

.lightBlueBg h3 {
    color: #004155;
    margin-left: 2.5vw;
}

#whyVol_header {
    color: #004155;
    font-weight: 800;
    margin-left: 2vw;
    margin-bottom: 1vw;
}

#volunteer_pic {
    background-image: url(../res/img/volunteer_pic.jpg);
    width: 100%;
    background-repeat:no-repeat;
    background-size: cover;
    padding-right: 25vw;
}

.photoLeftAndTextRight {
    display: flex;
    margin: 0;
}

q {
    color: #004155;
    font-weight: 800;
    width: 100%;
    text-align: center;
    font-size: 3vw;
    margin: 6vw 0 3vw 0;
}

footer {
    display: flex;
    position: relative;
    background-color: #004155;
    height: 30vh;
    width: 100vw;
}

footer img {
    background-image: url(../res/logos/logo2.png);
    width: 20%;
    height: auto;
    margin: 3vw;
    background-repeat: no-repeat;
    background-size: contain;
}

/*media qs*/

@media screen and (max-width: 700px) {
    #gys_header {
        font-size: 9vw;
    }
    #waw_header {
        font-size: 7vw;
        width: 100%;
        text-align: center;
        margin: 2vw 0;
    }
    .photoLeftAndTextRight {
        flex-direction: column;
    }
    #volunteer_pic {
        height: 400px;
    }
    footer {
        justify-content: center;
    }
    footer img {
        width: 30%;
        margin: 2vw 0;
        align-self: center;
    }
}

.vButton {
    background-color: #EDE937;
    padding: 8px 20px;
    border-radius: 35px;
}

#volButDown {
    width: 30vw;
    font-size: 3vw;
    font-weight: 800;
    color: white;
    text-align: center;
    margin: auto;
    padding: 20px 0;
    margin-bottom: 5vw;
    cursor: pointer;
}


/* Animations */

.pointing {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pointing_kf;
}

@keyframes pointing_kf {
    0% {
        transform: translate(0px, 0px) scale(2.2, 1);
    }
    50% {
        transform: translate(0px, -20px) scale(2.5, 1);
    }
    100% {
        transform: translate(0px, 0px) scale(2.2, 1);
    }
}
