@font-face {
    font-family: 'LatoBold';
    src: url(../res/fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: 'LatoLight';
    src: url(../res/fonts/Lato-Light.ttf);
}

* {
    margin: 0;
    font-family: 'LatoBold';
}

body {
    display: grid;
    height: 100%;
    grid-template-rows: 50px 50px 1fr 100px 100px;
    overflow-x: hidden;
}

header {
    display: flex;
    position: fixed;
    grid-column: 1/4;
    grid-row: 1/3;
    width: 100%;
    flex-direction: row;
    z-index: 1;
    background-color: rgba(255,255,255,0.4);
}

nav {
    align-self: center;
    flex-direction: row;
    width: 100%;
}

nav ul {
    position: relative;
    float: right;
    right: 7%;
}

ul li {
    display: inline-block;
}

li a {
    text-decoration: none;
    margin-right: 35px;
    color: white;
    font-size: 20pt;
}

li:last-child a {
    margin-right: 0;
}

.logo {
    display: block;
    height: 80px;
    position: relative;
    left: 150px;
    margin: 10px 0;
}

main {
    position: relative;
    grid-row: 1/4;
    grid-column: 1/4;
    height: 100%;
    display: grid;
}

#expand_arrow {
    position: sticky;
    margin: auto;
    align-self: center;
    bottom: 0px;
    font-size: 100px;
    color: rgba(255,255,255,0.5);
}

#video_cont {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
}

#video {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: brightness(75%);
}

#on_vid_text {
    color: white;
    font-size: 30pt;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'LatoLight';
}

#on_vid_text bold {
    font-size: 80pt;
    color: #EDE937;
    font-weight: bolder;
}

#on_vid_text i {
    font-size: 80pt;
    font-family: 'LatoLight';
    font-weight: bolder;
}

#gys_header {
    position: relative;
    font-size: 5vw;
    color: #004155;
    font-weight: bolder;
    text-align: center;
}

#gys_header bold {
    color: #EDE937;
}

#vide-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,255,255,0);
    z-index: -1;
    top:0;
}

#waw_header {
    color: #004155;
    margin-left: 10vw;
    font-size: 3vw;
}

footer {
    grid-row: 5/6;
}


/* Animations */

.pointing {
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: pointing_kf;
}

@keyframes pointing_kf {
    0% {
        transform: translate(0px, 0px) scale(2.2, 1);
    }
    50% {
        transform: translate(0px, -20px) scale(2.5, 1);
    }
    100% {
        transform: translate(0px, 0px) scale(2.2, 1);
    }
}
